<blog-nav></blog-nav>
<div class="container">
  <div class='page-header'>
    <h1>
      <em>Welcome to MEAN Blog!</em>
      <small class='pull-right'>
        <i class='fa fa-facebook text-info'></i>
        <i class='fa fa-twitter text-default'></i>
        <i class='fa fa-instagram text-success'></i>
        <i class='fa fa-youtube text-danger'></i>
        <i class='fa fa-google-plus text-warning'></i>
      </small>    
    </h1>
  </div>
  <div class="row">
    <div class="col-md-9">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium odio fugit voluptate vitae nemo velit minus voluptatibus tempora! Iure, voluptatibus, quia. Voluptates corporis, consequuntur aperiam explicabo quibusdam id error. Eligendi.
    </div>
    <blog-sidebar></blog-sidebar>
  </div>
</div>